<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Chatbot Pintar - PenaHati. </title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="static/neonal/assets/images/okee.png">
    <link rel="stylesheet" href="static/neonal/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="static/neonal/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="static/neonal/assets/css/style.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <style>
        .msger-inputarea {
            display: flex;
            margin-bottom: 20px;
        }

        .msger-input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            font-size: 16px;
            outline: none;
        }

        .msger-input:focus {
            border-color: #007bff;
        }

        .msger-send-btn {
            background-color: #007bff;
            color: white;
            border: 1px solid #007bff;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .msger-send-btn:hover {
            background-color: #0056b3;
        }

        .col-md-12 {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .recommended-questions,
        .selected-question {
            margin-top: 20px;
            padding: 15px;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .recommended-questions h2,
        .selected-question h2 {
            font-size: 1.2rem;
            color: #333333;
            margin-bottom: 10px;
        }

        .recommended-questions {
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-height: 300px;
            overflow-y: auto;
        }

        .recommended-questions h2 {
            font-size: 1.5rem;
            color: #333333;
            margin-bottom: 15px;
        }

        .recommended-question-btn {
            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .recommended-question-btn:hover {
            background-color: #0056b3;
        }

        .recommended-questions p {
            color: #555555;
            font-style: italic;
            margin-top: 10px;
        }

        @media screen and (max-width: 768px) {
            .msger-input {
                font-size: 14px;
                padding: 8px;
            }

            .msger-send-btn {
                padding: 8px 16px;
            }

            .col-md-12 {
                padding: 15px;
            }

            .recommended-questions {
                padding: 15px;
            }

            .recommended-questions h2 {
                font-size: 1.3rem;
            }

            .recommended-question-btn {
                padding: 8px 16px;
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }

        .msger-mic-btn {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .msger-mic-btn:hover {
            background-color: #0056b3;
        }

        .recording {
            background-color: #dc3545;
        }

        .recording:hover {
            background-color: #c82333;
        }
    </style>

</head>

<body>
    <div class="header">
        <div class="sticky-header">
            <div class="header-container container">
                <div class="header-wrapper">
                    <div class="header-logo">
                        <a href="/"><img src="static/neonal/assets/images/logo/logo3.png" alt="Logo"></a>
                    </div>
                    <div class="main-menu d-none d-lg-flex">
                        <ul>
                            <li><a href="/">Beranda</a></li>
                            <li><a class="active" href="/fitur-app">Fitur</a></li>
                            <li><a href="/bloggrid-app">Artikel</a></li>
                            <li><a href="/tentangkami-app">Tentang kami</a></li>
                            <li><a href="/hubungikami-app">Kontak</a></li>
                            <li><a href="/pencarian-app">Cari Psikolog</a></li>
                        </ul>
                    </div>
                    <div class="header-actions">
                        <a class="header-action-btn header-action-btn-menu d-lg-none d-md-flex" href="#/">
                            <i class="icofont-navigation-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section breadcrumb-section bg-name-primary">
        <div class="layer shape-1"></div>
        <div class="container section-padding">
            <div class="row">
                <div class="col-12 align-items-center text-center">
                    <div class="breadcrumb-wrapper">
                        <h1 class="title">Chatbot Pintar</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/">Home</a></li>
                            <li>Chatbot Pintar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="submit-form-wrapper bg-name-seashell">
                        <div class="content">
                            <h2 class="title" data-aos="fade-up" data-aos-duration="1100">Chatbot Pintar</h2>
                            <p data-aos="fade-up" data-aos-duration="1800">
                                Kamu bebas bertanya apa saja seputar psikologi, karena sudah dilengkapi dengan
                                Artificial Intelligence
                            </p>
                        </div>
                        <section class="msger">
                            <header class="msger-header">
                                <div class="msger-header-title">
                                    <i class="fas fa-bug"></i> Chatbot Pintar <i class="fas fa-bug"></i>
                                </div>
                            </header>
                            <main class="msger-chat">
                                <div class="msg left-msg">
                                    <div class="msg-img" style="background-image: url(static/image/bott.svg)"></div>
                                    <div class="msg-bubble">
                                        <div class="msg-info">
                                            <div class="msg-info-name">Syifa Azzahra</div>
                                            <div class="msg-info-time" id="current-time"></div>
                                        </div>
                                        <div class="msg-text">
                                            Hai, selamat datang di ChatBot Mental Health! Perkenalkan saya Syifa Azzahra
                                            yang akan membantu menjawab semua pertanyaan anda. 😄
                                        </div>
                                    </div>
                                </div>
                            </main>
                            <form class="msger-inputarea">
                                <input type="text" class="msger-input" id="textInput"
                                    placeholder="Masukkan pesan Anda...">
                                <button type="button" class="msger-mic-btn" id="micBtn">
                                    <i class="fas fa-microphone"></i>
                                </button>
                                <button type="submit" class="msger-send-btn">Kirim</button>
                            </form>
                            <div class="col-md-12">
                                <div class="recommended-questions"></div>
                                <div class="selected-question"></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="section footer-section">
        <div class="footer-top bg-name-primary section-padding">
            <div class="footer-shape-left layer-shape"></div>
            <div class="footer-shape-right layer-shape"></div>
            <div class="container">
                <div class="row m-b-n40">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-4 m-b-40" data-aos="fade-up" data-aos-duration="1000">
                        <div class="single-footer-widget">
                            <div class="footer-logo m-b-20">
                                <a href="/"><img src="static/neonal/assets/images/logo/logo3.png" alt="Logo"></a>
                            </div>
                            <p class="desc-content m-b-35">
                                PenaHati adalah platform kesehatan digital nomor satu di Indonesia dengan lebih dari 100
                                juta pengguna aktif setiap bulannya, serta lebih dari 250 ribu dokter yang bergabung.
                                Sejak tahun 2022, PenaHati telah unggul dalam menyediakan informasi kesehatan mental
                                yang akurat, mudah dipahami, dan dapat diakses oleh siapa saja, kapan saja, dan di mana
                                saja.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2 m-b-40" data-aos="fade-up" data-aos-duration="1500">
                        <div class="single-footer-widget">
                            <h4 class="widget-title">Tautan Langsung</h4>
                            <ul class="widget-list">
                                <li><a href="/tentangkami-app"><i class="icofont-plus"></i>Tentang Kami</a></li>
                                <li><a href="/hubungikami-app"><i class="icofont-plus"></i>Kontak</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 m-b-40" data-aos="fade-up" data-aos-duration="2000">
                        <div class="single-footer-widget single-footer-space-left">
                            <h4 class="widget-title">Fitur</h4>
                            <ul class="widget-list">
                                <li><a href="/pencarian-app"><i class="icofont-plus"></i>Cari Psikolog</a></li>
                                <li><a href="/musik-app"><i class="icofont-plus"></i>Relaksasi Musik</a></li>
                                <li><a href="/bloggrid-app"><i class="icofont-plus"></i>Buku/Artikel</a></li>
                                <li><a href="/chatbot"><i class="icofont-plus"></i>Chatbot Pintar</a></li>
                                <li><a href="/jenispenyakit-app"><i class="icofont-plus"></i>Jenis-Jenis Penyakit</a>
                                </li>
                                <li><a href="/cv"><i class="icofont-plus"></i>Deteksi Emosi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-lg-end m-b-40"
                        data-aos="fade-up" data-aos-duration="2500">
                        <div class="single-footer-widget">
                            <h4 class="widget-title">Jam Kerja</h4>
                            <ul class="widget-list table-list">
                                <li><span>Aplikasi</span><span class="table-list-middle">-</span><span>24 Jam</span>
                                </li>
                                <li><span>Senin</span><span class="table-list-middle">-</span><span>10 pagi sampai 07
                                        malam</span></li>
                                <li><span>Selasa</span><span class="table-list-middle">-</span><span>10 pagi sampai 07
                                        malam</span></li>
                                <li><span>Rabu</span><span class="table-list-middle">-</span><span>10 pagi sampai 07
                                        malam</span></li>
                                <li><span>Kamis</span><span class="table-list-middle">-</span><span>10 pagi sampai 07
                                        malam</span></li>
                                <li><span>Jum'at</span><span class="table-list-middle">-</span><span>10 pagi sampai 07
                                        malam</span></li>
                                <li><span>Sabtu</span><span class="table-list-middle">-</span><span>10 pagi sampai 07
                                        malam</span></li>
                                <li><span>Minggu</span><span class="table-list-middle">-</span><span
                                        class="text-color-success">Tutup</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom bg-name-primary p-t-20 p-b-20">
            <div class="container">
                <div class="row m-b-n10">
                    <div class="col-md-6 m-b-10">
                        <div class="copyright-content">
                            <p class="mb-0">© 2022 <strong class="text-color-success">PenaHati.</strong> Made with <i
                                    class="icofont-heart-alt text-color-success"></i> by <a href="#"
                                    class="text-color-success">AlexSynthesis</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-10">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/tentangkami-app">Tentang Kami</a></li>
                                <li><a href="/hubungikami-app">Kontak</a></li>
                                <li><a href="/musik-app">Relaksasi Musik</a></li>
                                <li><a href="/bloggrid-app">Artikel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scroll-top show" id="scroll-top">
        <i class="arrow-top icofont-bubble-up"></i>
        <i class="arrow-bottom icofont-bubble-up"></i>
    </a>

    <div class="mobile-menu-wrapper">
        <div class="offcanvas-overlay"></div>
        <div class="mobile-menu-inner">
            <div class="offcanvas-btn-close">
                <i class="icofont-close-line"></i>
            </div>
            <div class="mobile-menu-inner-wrapper">
                <div class="appoinment-button">
                    <a href="/" class="btn btn-outline-success btn-hover-success">Penahati.<i
                            class="icofont-home"></i></a>
                </div>
                <div class="mobile-navigation">
                    <nav>
                        <ul class="mobile-menu">
                            <li><a href="/">Beranda</a></li>
                            <li><a class="active" href="/fitur-app">Fitur</a></li>
                            <li><a href="/bloggrid-app">Artikel</a></li>
                            <li><a href="/tentangkami">Tentang kami</a></li>
                            <li><a href="/hubungikami-app">Kontak</a></li>
                            <li><a href="/pencarian-app">Cari Psikolog</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mt-auto bottom-0">
                    <ul class="contact-links">
                        <li><i class="icofont-phone"></i><a href="tel:+0123456789">+012 3456 789</a></li>
                        <li><i class="icofont-envelope-open"></i><a
                                href="mailto:infopenahati@gmail.com">infopenahati@gmail.com</a></li>
                        <li><i class="icofont-wall-clock"></i><span>Aplikasi 24 Jam</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="static/neonal/assets/js/vendor.min.js"></script>
    <script src="static/neonal/assets/js/plugins.min.js"></script>
    <script src="static/neonal/assets/js/main.js"></script>
    <script src="https://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script>
        // Fungsi untuk menghitung Levenshtein Distance antara dua string
        function levenshtein(a, b) {
            const an = a.length;
            const bn = b.length;
            const matrix = [];

            for (let i = 0; i <= an; i++) {
                matrix[i] = [i];
            }

            for (let j = 1; j <= bn; j++) {
                matrix[0][j] = j;
            }

            for (let i = 1; i <= an; i++) {
                for (let j = 1; j <= bn; j++) {
                    if (a[i - 1] === b[j - 1]) {
                        matrix[i][j] = matrix[i - 1][j - 1];
                    } else {
                        matrix[i][j] = Math.min(
                            matrix[i - 1][j - 1] + 1, // substitution
                            matrix[i][j - 1] + 1,     // insertion
                            matrix[i - 1][j] + 1      // deletion
                        );
                    }
                }
            }
            return matrix[an][bn];
        }

        // Fungsi untuk mencari pertanyaan yang mirip berdasarkan teks input
        function findSimilarQuestions(inputText, questions) {
            const threshold = 3; // Nilai ambang batas untuk menentukan kesamaan
            return questions.filter(question => levenshtein(inputText, question.text) <= threshold);
        }

        // Fungsi untuk mengacak urutan array
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        // Fungsi untuk memuat dan menampilkan pertanyaan berdasarkan kategori yang dipilih
        function loadAndDisplayQuestionsByCategory(kategori) {
            console.log(`Memuat pertanyaan untuk kategori: ${kategori}`); // Tambahan untuk debugging

            $.getJSON("../static/data/recomendation.json", function (data) {
                const questions = shuffleArray(data.pertanyaan);
                const filteredQuestions = questions.filter(function (question) {
                    return question.kategori === kategori;
                });

                console.log(`Pertanyaan yang difilter:`, filteredQuestions);

                const recommendedQuestionsContainer = document.querySelector(".recommended-questions");
                recommendedQuestionsContainer.innerHTML = "";

                filteredQuestions.forEach(function (question) {
                    const btn = document.createElement("button");
                    btn.className = "recommended-question-btn";
                    btn.textContent = question.text;
                    btn.addEventListener("click", function () {
                        askRecommendedQuestion(question.text, question.next);
                    });
                    recommendedQuestionsContainer.appendChild(btn);
                });

                if (filteredQuestions.length === 0) {
                    const noQuestionsMsg = document.createElement("p");
                    noQuestionsMsg.textContent = "Tidak ada pertanyaan yang tersedia untuk kategori ini.";
                    recommendedQuestionsContainer.appendChild(noQuestionsMsg);
                }
            }).fail(function () {
                console.error("Gagal memuat data JSON.");
            });
        }

        function askRecommendedQuestion(question, nextCategory) {
            const selectedQuestionContainer = document.querySelector(".selected-question");
            selectedQuestionContainer.textContent = "Anda memilih pertanyaan: " + question;

            appendMessage(PERSON_NAME, PERSON_IMG, "right", question);
            botResponse(question);

            if (nextCategory) {
                loadAndDisplayQuestionsByCategory(nextCategory);
            }
        }

        function appendMessage(name, img, side, text) {
            const msgHTML = `
            <div class="msg ${side}-msg">
              <div class="msg-img" style="background-image: url(${img})"></div>
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">${name}</div>
                  <div class="msg-info-time">${formatDate(new Date())}</div>
                </div>
                <div class="msg-text">${text}</div>
              </div>
            </div>
          `;
            const msgerChat = document.querySelector(".msger-chat");
            msgerChat.insertAdjacentHTML("beforeend", msgHTML);
            msgerChat.scrollTop = msgerChat.scrollHeight;
        }

        function botResponse(rawText) {
            $.get("/get", { msg: rawText }).done(function (data) {
                appendMessage(BOT_NAME, BOT_IMG, "left", data);
            }).fail(function () {
                console.error("Gagal mendapatkan respons dari bot.");
            });
        }

        const BOT_IMG = "static/image/bott.svg";
        const PERSON_IMG = "static/image/person.svg";
        const BOT_NAME = "Syifa Azzahra";
        const PERSON_NAME = "Anda";

        const msgerForm = document.querySelector(".msger-inputarea");
        const msgerInput = document.querySelector(".msger-input");
        const msgerChat = document.querySelector(".msger-chat");

        let questionsData = [];

        function loadQuestionsData() {
            $.getJSON("../static/data/recomendation.json", function (data) {
                questionsData = data.pertanyaan;
                console.log("Data JSON berhasil dimuat:", questionsData);
            }).fail(function () {
                console.error("Gagal memuat data JSON.");
            });
        }

        function detectCategory(question) {
            const categories = Array.from(new Set(questionsData.map(q => q.kategori)));
            const matchedCategory = categories.find(category =>
                questionsData.some(q => q.kategori === category && question.includes(q.text))
            );
            return matchedCategory || null;
        }

        function sendMessage(msgText) {
            if (!msgText) return;

            const detectedCategory = detectCategory(msgText);
            if (detectedCategory) {
                loadAndDisplayQuestionsByCategory(detectedCategory);
            }

            const similarQuestions = findSimilarQuestions(msgText, questionsData);
            console.log("Pertanyaan mirip ditemukan:", similarQuestions);

            const recommendedQuestionsContainer = document.querySelector(".recommended-questions");
            recommendedQuestionsContainer.innerHTML = "";

            if (similarQuestions.length > 0) {
                similarQuestions.forEach(function (question) {
                    const btn = document.createElement("button");
                    btn.className = "recommended-question-btn";
                    btn.textContent = question.text;
                    btn.addEventListener("click", function () {
                        askRecommendedQuestion(question.text, question.next);
                    });
                    recommendedQuestionsContainer.appendChild(btn);
                });
            } else {
                const noQuestionsMsg = document.createElement("p");
                noQuestionsMsg.textContent = "Tidak ada pertanyaan yang mirip.";
                recommendedQuestionsContainer.appendChild(noQuestionsMsg);
            }

            appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
            msgerInput.value = ""; // Pastikan ini sesuai dengan ID di HTML
            botResponse(msgText);
        }

        msgerForm.addEventListener("submit", event => {
            event.preventDefault();

            const msgText = msgerInput.value.trim();
            sendMessage(msgText);
        });

        function formatDate(date) {
            const hours = "0" + date.getHours();
            const minutes = "0" + date.getMinutes();
            return `${hours.slice(-2)}:${minutes.slice(-2)}`;
        }

        document.addEventListener("DOMContentLoaded", function () {
            loadQuestionsData();
            loadAndDisplayQuestionsByCategory('PenyakitMental'); // Contoh kategori awal
        });

        function updateCurrentTime() {
            const currentTimeElement = document.getElementById('current-time');
            const date = new Date();
            const hours = ("0" + date.getHours()).slice(-2);
            const minutes = ("0" + date.getMinutes()).slice(-2);
            currentTimeElement.textContent = `${hours}:${minutes}`;
        }

        // Panggil fungsi updateCurrentTime setiap detik
        setInterval(updateCurrentTime, 1000);

        const micBtn = document.getElementById('micBtn');
        const textInput = document.getElementById('textInput');

        let isRecording = false;
        let recognition;

        micBtn.addEventListener('click', toggleRecording);

        function toggleRecording() {
            if (!isRecording) {
                startRecording();
            } else {
                stopRecording();
            }
        }

        function startRecording() {
            if (!('webkitSpeechRecognition' in window)) {
                alert('Speech recognition not supported in this browser.');
                return;
            }

            recognition = new webkitSpeechRecognition();
            recognition.lang = 'id-ID';
            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.start();

            micBtn.classList.add('recording');
            micBtn.innerHTML = '<i class="fas fa-stop"></i>';

            recognition.onresult = function (event) {
                const result = event.results[0][0].transcript;
                textInput.value = result;
                stopRecording(); // Automatically stop recording after getting result
                sendMessage(result); // Send message with recognized text
            };

            recognition.onerror = function (event) {
                console.error('Speech recognition error:', event.error);
                stopRecording();
            };

            recognition.onend = function () {
                isRecording = false;
                micBtn.classList.remove('recording');
                micBtn.innerHTML = '<i class="fas fa-microphone"></i>';
            };

            isRecording = true;
        }

        function stopRecording() {
            if (recognition) {
                recognition.stop();
            }
        }
    </script>
</body>

</html>